# üìò 02 - Python Tuples

Learn what tuples are and how to use them.

## ‚úÖ Learning Goals
- Create and access tuples
- Understand immutability
- Use tuple unpacking

In [1]:
# üîß Create a Tuple
coords = (5, 10)
print(coords)

(5, 10)

In [2]:
# üîç Indexing
print('X:', coords[0])
print('Y:', coords[1])

X: 5
Y: 10

In [3]:
# üîÅ Tuple Unpacking
x, y = coords
print('x + y =', x + y)

x + y = 15

## üö´ Tuples are immutable
Try uncommenting the line below to see what happens:
```python
#coords[0] = 100
```

In [4]:
coords[0] = 100

TypeError: 'tuple' object does not support item assignment

## ‚úèÔ∏è Your Turn
Create a tuple to store your birthday as `(month, day, year)`.

In [6]:
myBirthday = ('October', '26th', '1995')

month = myBirthday[0]
day = myBirthday[1]
year = myBirthday[2]

print('My birthday is', month, day, year)

My birthday is October 26th 1995